######################################
### Unity
######################################

# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

# Unity project files
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.suo

# Crash logs
sysinfo.txt

# Packages
*.apk
*.aab
*.unitypackage

# OS-specific junk
.DS_Store
Thumbs.db

## ETC
.vs/
.vsconfig

# IDE settings
.vscode/
.idea/
*.sln.iml

###################################################################

/Assets/Resources/99_Resources/
/Assets/Resources/99_Resources/**
/Assets/Resources/05_Animations/
/Assets/Resources/05_Animations/**
